.mynavbar{
  background-color:whitesmoke;
}

.mynavbarbrand{
    font-size: x-large;
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(88, 88, 214);
    margin:1.5%;
    text-decoration: none;
}
.mynavbarcontent{
    font-weight: bold;
    font-family: sans-serif;
}
.mynavbaritem1{
    margin-right: auto;
}
.mynavbaritem2{
    margin-left: auto;
}
.maincardiv{
    display: flex;
    flex-direction: row;
}
.mycard{
    margin: 1.5%;
    width: 20rem;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.mycard:hover{
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}
.card-text{
    color: black;
}
.cardinnertext{
    font-size: small;
    font-family: sans-serif;
    font-weight: lighter;
}
.div1innertext{
    font-size: large;
    font-family: sans-serif;
    color: rgb(107, 107, 219);
    text-decoration: none;
    margin-left: -2%;
}
.div2innertext{
    font-size: large;
    font-family: sans-serif;
    color: rgb(107, 107, 219);
    text-decoration: none;
}
.div3innertext{
    font-size: large;
    font-family: sans-serif;
    color: rgb(107, 107, 219);
    text-decoration: none;
    margin-left: -2%; 
}
.maincarddiv2{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
} 

.myfooter{
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(107, 107, 219);
}

.myform{
    border: 3px solid;
    margin: 1%;
    padding: 1%;
}

.myregdoc{
    margin:2% auto 2% auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}
.form-group,.btn{
    margin: 5px;
}

.myregform{
    margin: 6%;
}

.setregform{
    margin:2% auto 2% auto;
    padding: 1%;
    width: 60%;
    background-color: whitesmoke;
}

.setlogin{
    margin:2% auto 2% auto;
    width: 50%;
}

.doclogin,.userlogin{
    margin:2% auto 2% auto;
    width: 60%;
    background-color: whitesmoke; 
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card.mycard1 {
    margin: 2%; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .card.mycard1:hover{
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  }

.mysearchmed{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }
  
    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }

.myregister{
  display: flex;
  justify-content: center;
  margin: 2%;
  background-color: whitesmoke;
  width: 20%;
}

.mysearchclass{
    margin-left: 20%;
    margin-right:20%;
    margin-top: 4%;
}
.myaboutcard{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 24%;
    margin:4%;
    font-family: sans-serif;
    /* font-weight: bold;  */
}
.myaddmed{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    background-color: whitesmoke;
}
.myaddmed1{
    margin: 3%;
}
.myouterabout{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.contactform{
    background-color: #f7f7f7; /* Set the background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-top: 4%; 
    margin-left: 30%;
    margin-bottom: 3%;
}
.mycontactform{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mydatadiv{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}